.about-us-text {
    color: var(--clr-accent-300); 
    font-family: 'yatra one'; 
    text-align: justify; 
    max-width: 450px;
}
.email-text {
    font-family: 'yatra one';
    margin-left: 10px;
    text-decoration: none;
    color: var(--clr-accent-300);
}

.email-text:hover {
    color: var(--clr-accent-700);
}

.social-links-logo {
    background-color: var(--clr-accent-300);
    color: var(--clr-accent-970);
    border-radius: 50%;
    padding: 3px;
}

.social-links-logo:hover {
    background-color: var(--clr-accent-700);
}

.social-links:not(:first-of-type) {
    margin-left: 15px;
}

.footer-contrib-text {
    font-family: 'yatra one'; 
    color: var(--clr-accent-700);
}