nav {
	background-color: none;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	background-color: var(--clr-accent-600) !important;
}
.navbar-brand {
	color: var(--clr-accent-800);
    font-family: 'saman';
    color: white;
}
.logo {
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;
	max-width: 70px;
}

.navbar-scrolled {
	padding: 0px 48px 0px;
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0;
}

.nav-link {
	white-space: nowrap;
    font-family: 'saman';
	color: var(--clr-accent-700) !important;
    margin-left: 18px;
    margin-right: 18px;
	font-size: var(--fs-200) !important;

	position: relative;
}

.nav-link.active {
	color: var(--clr-accent-300) !important;
}

.nav-link:hover {
	color: var(--clr-accent-300) !important;
}

.nav-link:focus {
	color: var(--clr-accent-300) !important;
}

/* media query */
@media (max-width: 1200px) {
	.navbar-scrolled {
		padding: 0px 18px 0px !important;
	}
}

@media (max-width: 993px) {
}

@media (max-width: 780px) {}

@media (max-width: 550px) {
	.logo {
		width: 60px;
	}

	.navbar-scrolled {
		padding: 0px 14px 0px !important;
	}
}

@media (max-height: 820px) {
	.navbar-unscrolled {
		padding: 14px 14px 8px !important;
	}
}

@media (max-height: 635px) {
	.logo {
		width: 55px;
	}
	.navbar-scrolled {
		padding: 0px 14px 0px !important;
	}
}