
a{
    text-decoration: none !important;
}

@font-face {
    font-family: 'saman';
    src: URL('../assets/fonts/SAMAN___.ttf') format('truetype');
  }

  @font-face {
    font-family: 'yatra one';
    src: URL('../assets/fonts/YatraOne-Regular.ttf') format('truetype');
  }

body {
	background-color: var(--clr-accent-300);
	background-image: url(../assets/images/1234.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
svg {
    width: 25vw;
    overflow: visible
}
/* 
g {
    overflow:  hidden;
    visibility: hidden;
} */

.reveal {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -20;
    left: 0;
    z-index: -1;
    background-color: #4f2e25;
    opacity: 0.9;
}