#the-pandevs-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), var(--clr-accent-930));
    background-size: 100% 30px;
    background-repeat: no-repeat;
}

.pandevs-outer-div {
    width: 280px;
    height: 373px;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.pandevs-div {
    position: relative;
}

/* box-shadows
.pandevs-shadow-top-left {
    box-shadow: rgba(229, 193, 79, 0.4) -5px -5px,
    rgba(229, 193, 79, 0.3) -10px -10px, 
    rgba(229, 193, 79, 0.2) -15px -15px, 
    rgba(229, 193, 79, 0.1) -20px -20px, 
    rgba(229, 193, 79, 0.05) -25px -25px;
}

.pandevs-shadow-top-middle {
    box-shadow: rgba(229, 193, 79, 0.4) 0px -5px, 
    rgba(229, 193, 79, 0.3) 0px -10px, 
    rgba(229, 193, 79, 0.2) 0px -15px, 
    rgba(229, 193, 79, 0.1) 0px -20px, 
    rgba(229, 193, 79, 0.05) 0px -25px;
}

.pandevs-shadow-top-right {
    box-shadow: rgba(229, 193, 79, 0.4) 5px -5px, 
    rgba(229, 193, 79, 0.3) 10px -10px, 
    rgba(229, 193, 79, 0.2) 15px -15px, 
    rgba(229, 193, 79, 0.1) 20px -20px, 
    rgba(229, 193, 79, 0.05) 25px -25px;
}

.pandevs-shadow-bottom-left {
    box-shadow: rgba(229, 193, 79, 0.4) -5px 5px, 
    rgba(229, 193, 79, 0.3) -10px 10px, 
    rgba(229, 193, 79, 0.2) -15px 15px, 
    rgba(229, 193, 79, 0.1) -20px 20px, 
    rgba(229, 193, 79, 0.05) -25px 25px;
}

.pandevs-shadow-bottom-right {
    box-shadow: rgba(229, 193, 79, 0.4) 5px 5px, 
    rgba(229, 193, 79, 0.3) 10px 10px, 
    rgba(229, 193, 79, 0.2) 15px 15px, 
    rgba(229, 193, 79, 0.1) 20px 20px, 
    rgba(229, 193, 79, 0.05) 25px 25px;
}  */

.pandevs-div {
    background: var(--clr-accent-850);
}

.dharma-chakra-border {
    border-radius: 20px;
    border: 2rem solid transparent;
    border-image: url(../assets/borderSvgs/dharma-chakra.png) 35% round;
    padding: 0 !important;
}

.pandevs-heading {
    /* font-weight: var(--fw-semi-bold); */
    font-family: 'yatra one';
    color: var(--clr-accent-300);
    opacity: 1.5;
    font-size: var(--fs-200);
    text-align: center;
}

.pandevs-sub-heading {
    font-family: 'yatra one';
    color: var(--clr-accent-300);
    margin-top: 5px;
    font-size: var(--fs-100);
    text-align: center;
}

.pandevs-profile-img {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 180px;
    border-radius: 50%;
    border: 5px solid var(--clr-accent-300);
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
    /* border-radius: 15px; */
    /* border: 2px solid var(--clr-accent-700); */
}

.pandevs-profile-figure {
    overflow: hidden;
    border-radius: 7px;
    margin-bottom: 10px;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
}

.pandevs-info {
    color: var(--clr-info);
    opacity: 0.6;
    font-size: var(--fs-150);
    text-align: justify;
}

.pandevs-social-links-div {
    position: absolute;
    bottom: 0;
}

.iconify-redirect-icon {
    color: var(--clr-accent-300);
}

.iconify-redirect-icon:hover {
    color: var(--clr-accent-400);
}


/* media query */
@media (max-width: 1200px) {}

@media (max-width: 993px) {}

@media (max-width: 945px) {}

@media (max-width: 780px) {}

@media (max-width: 550px) {}

@media (max-height: 820px) {}